[submodule "vendor/thread-pool"]
	path = vendor/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "vendor/fmtlib"]
	path = vendor/fmtlib
	url = https://github.com/fmtlib/fmt
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "vendor/chibi-scheme"]
	path = vendor/chibi-scheme
	url = https://github.com/ashinn/chibi-scheme
[submodule "vendor/SipHash"]
	path = vendor/SipHash
	url = https://github.com/veorq/SipHash.git
[submodule "vendor/msgpack-c"]
	path = vendor/msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost
[submodule "vendor/cpp-peglib"]
	path = vendor/cpp-peglib
	url = https://github.com/yhirose/cpp-peglib.git
